#game-board {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(120px, 1fr));

    gap: 15px;
}

.memory-card {
    aspect-ratio: 1/1;

    perspective: 1000px;

    cursor: pointer;
}

.card-inner {
    position: relative;

    width: 100%;
    height: 100%;

    transition: transform 0.5s;

    transform-style: preserve-3d;
}

.memory-card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;

    width: 100%;
    height: 100%;

    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card-front img,
.card-back img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}