@model Day9.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<partial name="_CardPartial" model="Model" />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
