@model IEnumerable<Day9.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <partial name="_CardPartial" model="item" />
    }
</div>

