<nav class="navbar navbar-expand-md bg-primary-subtle">
  <div class="container-fluid">
    <div class="navbar-nav ms-auto me-auto">
      <button class="nav-link" (click)="SwitchTab('all')">All Tasks </button>
    </div>
    <div class="navbar-nav ms-auto me-auto">
      <button class="nav-link" (click)="SwitchTab('done')">Done Tasks </button>
    </div>
    <div class="navbar-nav ms-auto me-auto">
      <button class="nav-link" (click)="SwitchTab('not-done')">Not Done Tasks </button>
    </div>
  </div>
</nav>
