<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="FrontendReservationConnection"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=HotelReservation;Integrated Security=True;Encrypt=False"
		/>

		<add name="LoginManagerConnection"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=HotelLogin;Integrated Security=True;Encrypt=False"
		/>
		
	</connectionStrings>
</configuration>