<div>
  @for (
    i of [
      { name: 'ali', id: '1' },
      { name: 'amr', id: '2' },
    ];
    track i.id
  ) {
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ i.id }}</h5>
        <h5 class="card-title">{{ i.name }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card’s
          content.
        </p>
        <!-- <a routerLink="../profile" class="btn btn-outline-dark">go to {{ i.name }} </a> -->
        <!-- <a routerLink="/layout/profile/" class="btn btn-outline-dark">go to {{ i.name }} </a> -->
        <!-- <a [routerLink]="`/layout/profile/${i.id}`" class="btn btn-outline-dark"
          >go to {{ i.name }}
        </a> -->
        <a [routerLink]="['/', 'layout', 'profile', i.id]" class="btn btn-outline-dark"
          >go to {{ i.name }}
        </a>
      </div>
    </div>
  }
</div>

{{ dis }}
