<div
  class="p-5 rounded-3 d-flex flex-column justify-content-center align-items-center w-100 vh-100"
>
  <h2>Login Form</h2>
  <form
    class="border border-2 border-black p-3 rounded-3 w-50 shadow-lg d-flex flex-column align-items-center"
  >
    <div class="mb-3 w-50">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com" />
    </div>
    <div class="mb-3 w-50">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="password"
        required
        minlength="6"
        maxlength="12"
      />
    </div>
    <button type="submit" class="btn mt-2 btn-outline-success d-block w-50">login</button>
  </form>
</div>
