/* You can add global styles to this file, and also import other style files */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* body {
  background-color: rgb(206, 206, 206);
} */

h1 {
  background-color: brown;
}

/*  any component custom tag is inline */
/* app-root {
  display: block;
  background-color: chocolate;
  border: 2px black solid;
  height: 100vh;
} */
