

<div class="card shadow-lg border-0" style="width: 18rem;">
    <img src="~/Images/@ViewData["Picture"]" class="card-img-top" alt="No image found">
    <div class="card-body">
            <h5 class="card-title text-primary fw-bold">@ViewData["Name"]</h5>
            <p class="card-text text-muted">@ViewData["Description"]</p>
    </div>
    <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">Price: @ViewData["Price"]</li>

    </ul>
</div>

    