<div id="my-task-form">

  Task Title: <input placeholder="Task Title" [(ngModel)]="FormTask.title" /> <br/><br/>
  Task Description: <input placeholder="Task Description" [(ngModel)]="FormTask.description" /> <br/><br/>
  Task Priority: <select placeholder="Task Priority" [(ngModel)]="FormTask.priority">
    <option value="low">Low</option>
    <option value="medium">Medium</option>
    <option value="high">High</option>
  </select> <br/><br/>
  Task Due Date: <input type="date" [(ngModel)]="FormTask.dueDate" /> <br/><br/>
  Task Category: <select placeholder="Task Category" [(ngModel)]="FormTask.category">
    <option value="work">Work</option>
    <option value="personal">Personal</option>
    <option value="study">Study</option>
  </select> <br/><br/>
  Task Tags: <input placeholder="Task Tags (space separated)" [(ngModel)]="FormTags" /> <br/><br/>
  Is Done: <input type="checkbox" [(ngModel)]="FormTask.isDone" /> <br/><br/>

  @if (error.state) {
          <p class="bg-danger text-white fw-bold">{{ error.message }}</p>
        }
  <button (click)="addTask()">
    @if (action.toString().toLowerCase() === 'update') {
    Update Task
    }
    @else {
    Add Task
    }
  </button>

  <!-- <p>You have {{Tasks.length}} tasks.</p>
<p>{{Tasks}}</p> -->

</div>
