<div class="container-sm py-3">
  <app-tabs (sendTabName)="getNameTab($event)" />
  <div class="tab-content border border-top-0 p-3">
    @if (tabeName === 'all') {
      <app-allproducts (sendAagain)="getId($event)" [products]="list" />
    } @else {
      <app-cart [cartProsucts]="cartList" />
    }
    <!-- 
      <app-allproducts (sendAagain)="getId($event)" [products]="productListInChild" />
      <app-cart [cartProsucts]="productListInChild" /> -->
    <!-- <h1>
      {{ text }}
    </h1> -->

    <!-- @for (p of list; track $index) {
      <app-card [prod]="p" />
    } -->
  </div>
</div>
