<div style="background-color:antiquewhite; width:100%; height:200px;">


    *************************** This is Header Page ***************************


</div>


@RenderBody()


<div style="background-color:brown; width:100%; height:200px;">


    *************************** This is Footer Page ***************************


</div>
